.footer {
  background-color: #000;
  color: #f0f8ff;
  font-weight: bold;
  height: 25px;
  letter-spacing: 3px;
}
.header {
  height: 50px;
  border: 2px #000 solid;
  margin-bottom: 10px;
  background-color: #faebd7;
}
.header h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 30px;
  text-align: center;
}
.section .container .hide-data,
.section .container .extract-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section .container .down-btn,
.section .container .hide-btn,
.section .container .show-btn {
  color: #f0f8ff;
  font-weight: bold;
  background-color: #000;
  font-size: 20px;
  height: 30px;
  margin: 20px;
  width: 115px;
}
.section .container hr {
  margin: 20px 0 0 0;
  height: 4px;
}
.section .container .hide-data .hide-msg {
  margin: 20px;
  width: 80%;
}
.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
img{
  width: 100px;
  height: 100px;
}
.my-acc{
  color: yellow;
}

